<div id="navbar">
  <h2>Question Impossible</h2>
  <h4>Where impossible questions seek answers</h4>
  {{#link-to 'index'}}<i class="fa fa-home" aria-hidden="true"></i> Home{{/link-to}}
  <br>
  {{#link-to 'about'}}<i class="fa fa-info-circle" aria-hidden="true"></i> About{{/link-to}}
</div>

<div id="content">
  {{outlet}}
</div>
<div class="footer">
  Copyright (c) 2017 Erica Wright All Rights Reserved.
</div>
