<div class="questions">
  {{#each model.questions as |question|}}
    <div class="question">
    {{#link-to 'question' question.id}}{{question.body}} by {{question.author}}{{/link-to}} <button {{action 'delete' question}}>Delete</button>
    <br>
    </div>
  {{/each}}
</div>
<br>
<hr>
<div class="add-question">
  {{add-question question=question saveQuestion="saveQuestion"}}
</div>
