<div class="question-section">
  {{question-detail question=model destroyQuestion="destroyQuestion" updateQuestion="updateQuestion" destroyAnswer="destroyAnswer" updateAnswer="updateAnswer" saveAnswer="saveAnswer"}}
</div>
