<div class="question-section">
  {{question-detail question=model destroyQuestion="destroyQuestion" updateQuestion="updateQuestion" destroyAnswer="destroyAnswer" updateAnswer="updateAnswer"}}
  {{add-answer question=model saveAnswer="saveAnswer"}}
  <br>

  {{#link-to 'index'}}Back{{/link-to}}
</div>
